@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Oswald;
  font-display: swap;
  src: url(../fonts/Oswald-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Oswald;
  font-display: swap;
  src: url(../fonts/Oswald-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
html {
  scroll-behavior: smooth
}
body {
  background-color: #000
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
._container {
  padding: 0 20px
}
.header {
  padding: 15px 0
}
.header__logo.desc {
  display: none
}
.header__logo.mobile {
  width: 88px;
  height: 88px
}
.header__logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.header__content {
  display: flex;
  flex-direction: column;
  gap: 30px
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px
}
.header__open-menu {
  flex: 0 0 40px;
  width: 40px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between
}
.header__open-menu span {
  height: 3px;
  background-color: #fff;
  border-radius: 25px
}
.header__open-menu span:first-child {
  width: 15px
}
.header__open-menu span:nth-child(2) {
  width: 27px
}
.header__open-menu span:last-child {
  width: 100%
}
.header__nav {
  display: none
}
.header__socials {
  display: flex;
  gap: 12px
}
.header__social svg {
  height: 24px;
  fill: #fff;
  transition: fill .5s ease
}
.header_bottom {
  display: flex;
  flex-direction: column;
  gap: 30px
}
.header__categories {
  display: flex;
  gap: 10px
}
.header__category {
  flex: 0 0 calc(50% - 5px);
  width: calc(50% - 5px);
  padding: 18px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 150%;
  font-weight: 300;
  font-family: Oswald,sans-serif;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  transition: all .5s ease
}
.header__category.green {
  border-color: #32911d;
  background: url(../img/button/btn-bg-01.png) center/cover no-repeat
}
.header__category.red {
  border-color: #af30a7;
  background: url(../img/button/btn-bg-02.png) center/cover no-repeat
}
.header__controls {
  display: flex;
  gap: 10px
}
.header__button {
  flex: 0 0 calc(50% - 5px);
  width: calc(50% - 5px);
  padding: 8px 10px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 300;
  font-family: Oswald,sans-serif;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  transition: all .5s ease
}
.header__button.green {
  border-color: #32911d;
  background: url(../img/button/btn-bg-03.png) center/cover no-repeat
}
.header__button.red {
  border-color: #af30a7;
  background: url(../img/button/btn-bg-04.png) center/cover no-repeat
}
.menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all .5s ease
}
.menu.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.menu__close-menu {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 26px;
  height: 26px
}
.menu__close-menu span {
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  top: 50%;
  border-radius: 25px;
  background-color: #fff
}
.menu__close-menu span:first-child {
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg)
}
.menu__close-menu span:last-child {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg)
}
.menu__body {
  padding: 50px 20px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: auto
}
.menu__logo {
  margin-bottom: 40px;
  width: 105px;
  height: 105px
}
.menu__logo img {
  width: 100%;
  height: 100%
}
.menu__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  margin-bottom: 85px
}
.menu__link {
  font-size: 35px;
  line-height: 120%;
  text-transform: uppercase
}
.menu__link.active {
  font-weight: 700
}
.menu__socials {
  display: flex;
  justify-content: center;
  gap: 25px
}
.menu__social img {
  height: 30px
}
.footer {
  margin-top: 50px;
  padding: 10px 0 50px
}
.footer ._container {
  display: flex;
  flex-direction: column;
  align-items: center
}
.footer__logo {
  margin-bottom: 55px;
  width: 70px;
  height: 70px
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.footer__center {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px
}
.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px
}
.footer__link {
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  transition: color .5s ease
}
.footer__link.active {
  font-weight: 700;
  cursor: default
}
.footer__privacy {
  padding: 8px 10px;
  width: 200px;
  font-size: 14px;
  line-height: 120%;
  color: #5f5f5f;
  text-align: center;
  border: 1px solid #5f5f5f;
  transition: all .5s ease
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 25px
}
.footer__social svg {
  height: 30px;
  fill: #fff;
  transition: fill .5s ease
}
.footer__copyright {
  line-height: 120%
}
.section-title {
  margin-bottom: 35px;
  font-size: 50px;
  line-height: 150%;
  font-weight: 300;
  font-family: Oswald,sans-serif;
  text-align: center
}
.breadcrumbs {
  padding: 25px 0 15px
}
.breadcrumbs__list {
  display: flex;
  gap: 30px;
  padding-bottom: 5px;
  overflow-x: auto
}
.breadcrumbs__item {
  display: flex;
  align-items: center;
  line-height: 135%;
  font-weight: 300;
  font-family: Oswald,sans-serif;
  color: #307201;
  white-space: nowrap
}
.breadcrumbs__item.link {
  position: relative;
  color: #fff;
  transition: color .5s ease
}
.breadcrumbs__item.link::after {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  right: -20px;
  width: 12px;
  height: 8px;
  background: url(../img/icon/arrow.svg) center/100% no-repeat
}
.info {
  padding: 50px 0
}
.info__body {
  display: flex;
  flex-direction: column;
  gap: 35px
}
.info__body h1,
.info__body h2,
.info__body h3,
.info__body h4,
.info__body h5,
.info__body h6 {
  font-weight: 300;
  line-height: 150%;
  font-family: Oswald,sans-serif
}
.info__body h1 {
  font-size: 60px
}
.info__body h2 {
  font-size: 50px
}
.info__body h2:first-child {
  text-align: center
}
.info__body h3 {
  font-size: 40px
}
.info__body h4 {
  font-size: 35px
}
.info__body h5 {
  font-size: 22px
}
.info__body h6 {
  font-size: 18px
}
.info__body img {
  display: inline-block;
  width: 100%
}
.info__body p {
  line-height: 135%
}
.info__body a {
  position: relative;
  color: #af30a7;
  line-height: 135%
}
.info__body a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #af30a7;
  transition: all .5s ease
}
.info__body blockquote {
  position: relative;
  padding-left: 50px;
  line-height: 135%;
  color: #a124a5
}
.info__body blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 4px;
  height: 100%;
  background-color: #87d533
}
.info__body ol,
.info__body ul {
  display: flex;
  flex-direction: column;
  gap: 10px
}
.info__body ol li,
.info__body ul li {
  list-style-position: inside
}
.info__body ul li {
  list-style-type: disc
}
.info__body table {
  width: 100%;
  border-collapse: collapse
}
.info__body table td,
.info__body table th {
  padding: 12px 15px;
  min-width: 250px;
  line-height: 135%
}
.info__body table th {
  text-align: left;
  color: #000;
  background-color: #fff;
  border-left: 1px solid #000
}
.info__body table th:first-child {
  border-left: none
}
.info__body table td {
  border: 1px solid #fff
}
.info__body table tr:nth-child(2) td {
  border-top: none
}
.info__table {
  padding-bottom: 10px;
  overflow-x: auto
}
.main-section {
  padding: 35px 0 50px
}
.main-section__main-image {
  margin-bottom: 100px;
  position: relative;
  padding-top: 41%;
  overflow: hidden
}
.main-section__main-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.main-section__body {
  display: flex;
  flex-direction: column;
  gap: 35px
}
.main-section__image {
  position: relative;
  height: 360px;
  overflow: hidden
}
.main-section__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.main-section__content {
  display: flex;
  flex-direction: column
}
.main-section__title {
  margin-bottom: 15px;
  font-size: 60px;
  line-height: 150%;
  font-weight: 300;
  font-family: Oswald,sans-serif
}
.main-section__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 25px
}
.main-section__text p {
  line-height: 135%
}
.main-section__link {
  align-self: start;
  font-size: 12px;
  line-height: 180%;
  text-decoration: underline;
  color: #8e8e8e;
  transition: color .5s ease
}
.services {
  padding: 50px 0
}
.services__body {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin-bottom: 50px
}
.services__item {
  flex: 0 0 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 25px;
  background-color: #fff;
  color: #000
}
.services__item-image {
  position: relative;
  height: 125px;
  margin-bottom: 20px;
  overflow: hidden
}
.services__item-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.services__item-title {
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 150%;
  font-weight: 400;
  text-align: center;
  font-family: Oswald,sans-serif
}
.services__item-text {
  display: flex;
  flex-direction: column;
  gap: 15px
}
.services__item-text p {
  line-height: 135%
}
.services__control {
  display: flex;
  justify-content: center;
  gap: 10px
}
.services__category {
  flex: 0 0 calc(50% - 5px);
  width: calc(50% - 5px);
  padding: 18px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 150%;
  font-weight: 300;
  font-family: Oswald,sans-serif;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  transition: all .5s ease
}
.services__category.green {
  border-color: #32911d;
  background: url(../img/button/btn-bg-01.png) center/cover no-repeat
}
.services__category.red {
  border-color: #af30a7;
  background: url(../img/button/btn-bg-02.png) center/cover no-repeat
}
.works {
  padding: 50px 0
}
.works__body {
  margin: 0 -20px
}
.works__body .swiper-wrapper {
  margin-bottom: 50px
}
.works__item {
  position: relative;
  width: 70%;
  padding-top: 87%;
  overflow: hidden
}
.works__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.works__pagination {
  display: flex;
  justify-content: center;
  gap: 20px
}
.works__pagination .swiper-pagination-bullet {
  flex: 0 0 12px;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all .5s ease
}
.works__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
  cursor: default
}
.faq {
  padding: 50px 0
}
.spollers {
  display: flex;
  flex-direction: column;
  gap: 35px
}
.spollers__item {
  padding-left: 60px;
  padding-bottom: 35px;
  border-bottom: 1px solid #fff
}
.spollers__title {
  position: relative;
  list-style: none;
  line-height: 120%;
  font-weight: 700;
  cursor: pointer;
  transition: all .5s ease
}
.spollers__title:hover {
  color: #af30a7
}
.spollers__title:hover .spollers__marker {
  background-color: #af30a7
}
.spollers__marker {
  position: absolute;
  top: 0;
  left: -38px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  transition: all .5s ease
}
.spollers__marker::after,
.spollers__marker::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 10px;
  height: 2px;
  background-color: #000
}
.spollers__marker::before {
  -webkit-transform: translate(-50%,-50%) rotate(90deg);
  transform: translate(-50%,-50%) rotate(90deg);
  transition: all .5s ease
}
._spoller-active .spollers__marker::before {
  -webkit-transform: translate(-50%,-50%) rotate(0);
  transform: translate(-50%,-50%) rotate(0)
}
.spollers__body {
  padding-top: 35px;
  font-size: 14px;
  line-height: 120%
}
.feedback {
  padding: 50px 0
}
.feedback__body {
  display: flex;
  flex-wrap: wrap;
  gap: 35px
}
.feedback__item {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  width: 100%;
  padding-bottom: 30px;
  background-color: #fff;
  color: #000
}
.feedback__item-image {
  position: relative;
  margin-bottom: 20px;
  padding-top: 44%;
  overflow: hidden
}
.feedback__item-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.feedback__item-content {
  padding: 0 12px;
  flex: 1 1 auto;
  flex-direction: column
}
.feedback__item-name {
  margin-bottom: 7px;
  font-size: 22px;
  line-height: 150%;
  font-family: Oswald,sans-serif
}
.feedback__item-text {
  display: -webkit-box;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 22px;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden
}
.feedback__item-link {
  font-size: 12px;
  line-height: 180%;
  text-decoration: underline;
  color: #8e8e8e;
  transition: color .5s ease
}
.main-controls {
  position: fixed;
  z-index: 50;
  right: -1px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px
}
.main-controls__button {
  width: 96px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 120%;
  font-weight: 700;
  border-width: 1px;
  border-style: solid;
  transition: all .5s ease
}
.main-controls__button.green {
  border-color: #32911d;
  background: url(../img/button/btn-bg-03.png) center/cover no-repeat
}
.main-controls__button.red {
  border-color: #af30a7;
  background: url(../img/button/btn-bg-04.png) center/cover no-repeat
}
.gallery {
  padding: 50px 0
}
.gallery__body {
  display: flex;
  flex-wrap: wrap;
  gap: 9px
}
.gallery__item {
  position: relative;
  flex: 0 0 calc(33.333% - 6px);
  width: calc(33.333% - 6px);
  padding-top: 40%;
  overflow: hidden
}
.gallery__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.blog {
  padding: 50px 0
}
.blog__body {
  display: flex;
  flex-wrap: wrap;
  gap: 35px
}
.blog__item {
  flex: 0 0 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px
}
.blog__item-image {
  position: relative;
  padding-top: 65%;
  overflow: hidden
}
.blog__item-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all .5s ease
}
.blog__item-text {
  line-height: 150%;
  font-weight: 300;
  font-family: Oswald,sans-serif;
  transition: color .5s ease
}
.contacts {
  padding: 50px 0
}
.contacts__text {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px
}
.contacts__text p {
  line-height: 135%
}
.contacts__body {
  margin-bottom: 70px
}
.contacts__body-title {
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 150%;
  font-weight: 300;
  font-family: Oswald,sans-serif
}
.contacts__content {
  display: flex;
  flex-direction: column;
  gap: 50px
}
.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 20px
}
.contacts__info p {
  line-height: 135%
}
.contacts__form {
  display: flex;
  flex-direction: column;
  gap: 12px
}
.contacts__input {
  padding: 12px 15px;
  font-family: 14px;
  line-height: 135%;
  color: #fff;
  border: 1px solid #5f5f5f;
  transition: all .5s ease
}
.contacts__input::-webkit-input-placeholder {
  color: #5f5f5f
}
.contacts__input:-ms-input-placeholder {
  color: #5f5f5f
}
.contacts__input::-ms-input-placeholder {
  color: #5f5f5f
}
.contacts__input::placeholder {
  color: #5f5f5f
}
.contacts textarea.contacts__input {
  min-height: 95px
}
.contacts__button {
  margin-top: 20px;
  display: block;
  padding: 9px 10px;
  line-height: 135%;
  font-family: Oswald,sans-serif;
  color: #5f5f5f;
  border: 1px solid #5f5f5f;
  cursor: pointer;
  transition: all .5s ease
}
.contacts__map {
  position: relative;
  height: 200px;
  overflow: hidden
}
.contacts__map iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .header_bottom {
    flex-direction: row;
    gap: 35px
  }
  .header__categories {
    flex: 1 1 auto
  }
  .header__controls {
    flex: 0 0 220px;
    width: 220px;
    flex-wrap: wrap;
    gap: 8px
  }
  .header__button {
    flex: 0 0 100%;
    width: 100%
  }
  .services__control {
    gap: 40px
  }
  .services__category {
    flex: 0 0 230px;
    width: 230px
  }
  .works__body {
    margin: 0
  }
  .works__item {
    width: auto;
    padding-top: 41%
  }
  .feedback__body {
    gap: 20px
  }
  .feedback__item {
    flex: 0 0 calc(50% - 10px);
    width: calc(50% - 10px)
  }
  .blog__body {
    gap: 30px 20px
  }
  .blog__item {
    flex: 0 0 calc(50% - 10px);
    width: calc(50% - 10px)
  }
}
@media (min-width:61.99875em) {
  ._container {
    padding: 0;
    width: 950px;
    margin: 0 auto
  }
  .header {
    padding: 30px 0
  }
  .header__body {
    display: flex;
    align-items: center;
    gap: 20px
  }
  .header__logo.desc {
    display: flex;
    flex: 0 0 136px;
    width: 136px;
    height: 136px
  }
  .header__logo.mobile {
    display: none
  }
  .header__content {
    flex: 1 1 auto
  }
  .header__top {
    gap: 30px
  }
  .header__open-menu {
    display: none
  }
  .header__nav {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    gap: 50px
  }
  .header__link {
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    transition: color .5s ease
  }
  .header__link.active {
    font-weight: 700;
    cursor: default
  }
  .header__link:hover:not(.active) {
    color: #af30a7
  }
  .header__socials {
    flex: 0 0 220px;
    width: 220px;
    justify-content: space-between
  }
  .header__social:hover svg {
    fill: #af30a7
  }
  .header__categories {
    justify-content: center;
    gap: 35px
  }
  .header__category {
    flex: 0 0 230px;
    width: 230px
  }
  .header__category:hover {
    text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff
  }
  .header__category:hover.green {
    border-color: #af30a7;
    color: #af30a7
  }
  .header__category:hover.red {
    border-color: #32911d;
    color: #32911d
  }
  .header__button {
    padding: 3px 10px
  }
  .header__button:hover {
    text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff
  }
  .header__button:hover.green {
    border-color: #af30a7;
    color: #af30a7
  }
  .header__button:hover.red {
    border-color: #32911d;
    color: #32911d
  }
  .footer {
    padding: 0 0 70px
  }
  .footer ._container {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px
  }
  .footer__logo {
    margin-bottom: 0;
    flex: 0 0 105px;
    width: 105px;
    height: 105px
  }
  .footer__center {
    flex: 1 1 auto;
    margin-bottom: 0;
    gap: 40px
  }
  .footer__nav {
    flex-direction: row;
    justify-content: center;
    gap: 50px
  }
  .footer__link:hover:not(.active) {
    color: #af30a7
  }
  .footer__privacy:hover {
    color: #af30a7;
    border-color: #af30a7
  }
  .footer__right {
    gap: 55px;
    align-items: flex-end
  }
  .footer__socials {
    gap: 30px;
    justify-content: flex-end
  }
  .footer__social:hover svg {
    fill: #af30a7
  }
  .section-title {
    margin-bottom: 40px
  }
  .breadcrumbs {
    padding: 20px 0 15px
  }
  .breadcrumbs__item.link:hover {
    color: #af30a7
  }
  .info {
    padding: 50px 0
  }
  .info__body a:hover::after {
    width: 100%;
    left: 0
  }
  .main-section {
    padding: 70px 0 50px
  }
  .main-section__main-image {
    height: 500px;
    padding-top: 0
  }
  .main-section__body {
    flex-direction: row;
    gap: 45px
  }
  .main-section__image {
    flex: 0 0 350px;
    width: 350px;
    height: auto;
    padding-top: 50%
  }
  .main-section__title {
    margin-bottom: 25px
  }
  .main-section__text {
    margin-bottom: 50px
  }
  .main-section__link:hover {
    color: #af30a7
  }
  .services__body {
    gap: 21px;
    margin-bottom: 100px
  }
  .services__item {
    flex: 0 0 calc(33.333% - 14px);
    width: calc(33.333% - 14px)
  }
  .services__category:hover {
    text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff
  }
  .services__category:hover.green {
    border-color: #af30a7;
    color: #af30a7
  }
  .services__category:hover.red {
    border-color: #32911d;
    color: #32911d
  }
  .works__pagination .swiper-pagination-bullet:hover:not(.swiper-pagination-bullet-active) {
    border-color: #af30a7
  }
  .spollers__body {
    padding-top: 15px
  }
  .feedback__item {
    flex: 0 0 calc(25% - 15px);
    width: calc(25% - 15px)
  }
  .feedback__item-image {
    padding-top: 55%
  }
  .feedback__item-link:hover {
    color: #af30a7
  }
  .main-controls__button:hover {
    text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff
  }
  .main-controls__button:hover.green {
    border-color: #af30a7;
    color: #af30a7
  }
  .main-controls__button:hover.red {
    border-color: #32911d;
    color: #32911d
  }
  .gallery__body {
    gap: 21px
  }
  .gallery__item {
    flex: 0 0 calc(33.333% - 14px);
    width: calc(33.333% - 14px)
  }
  .blog__body {
    gap: 30px 21px
  }
  .blog__item {
    flex: 0 0 calc(33.333% - 14px);
    width: calc(33.333% - 14px)
  }
  .blog__item-image:hover img {
    -webkit-transform: translate(-50%,-50%) scale(1.05);
    transform: translate(-50%,-50%) scale(1.05)
  }
  .blog__item-text {
    font-size: 22px
  }
  .blog__item-text:hover {
    color: #af30a7
  }
  .contacts__text {
    margin-bottom: 100px
  }
  .contacts__body {
    margin: 0 auto 100px;
    max-width: 950px
  }
  .contacts__content {
    flex-direction: row;
    gap: 36px
  }
  .contacts__info {
    flex: 0 0 calc(50% - 18px);
    width: calc(50% - 18px)
  }
  .contacts__form {
    flex: 0 0 calc(50% - 18px);
    width: calc(50% - 18px)
  }
  .contacts__input:hover {
    border-color: #fff
  }
  .contacts__button:hover {
    border-color: #af30a7;
    color: #af30a7
  }
  .contacts__map {
    height: 315px
  }
}
@media (min-width:79.99875em) {
  ._container {
    width: 1200px
  }
  .main-section__image {
    flex: 0 0 565px;
    width: 565px;
    padding-top: 45%
  }
  .faq ._container {
    width: 1010px
  }
}